body, html {
    height: 100%;
    /* margin: 0; */
}

.background-container {
    /* Set the background image */
    background-image: url('../assets/images/background-pattern-desktop.svg'); /* Replace with your image URL */
    image-resolution:cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    height: 50vh; /* Full viewport height */
    position: relative; /* Set position relative for positioning child elements */
}

.overlay-content {
    /* Style for the overlay content */
    position: absolute; /* Position absolutely within the parent */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust to perfectly center */
    color: white; /* Text color */
    text-align: center; /* Center the text */
    /* background: rgba(, , , .5); Add a semi-transparent background for better readability */
    padding: 20px; /* Add some padding */
    border-radius: 8px; /* Optional: round the corners */
}
